@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chewy&family=Familjen+Grotesk:wght@656&family=Itim&family=Press+Start+2P&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --nav-background:rgb(18, 29, 51);
    --link--color:rgb(204, 210, 222);
    --list-hover:rgba(255, 255, 255, 0.1);
}

body{

    background:#fff;


    /* font-family: "Familjen Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */


    font-style: normal;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
   





/* ==========================  */
     /* ====( navabar )==== */
/* ========================== */



/* ---------nav----------- */

.navbar{
    width: 100%;
    height: 80px;
    background: var(--nav-background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 0px auto;
    
}

/* ---------------------- */




/* ---------logo------ */

.logo img{
    width: 32px;
    margin-left: 17%;
    margin-top: 1%;
  cursor: pointer;
}

.logo h2{
    font-size: 25px;
    color: #fff;
    margin-left: 19%;
    position: absolute;
    margin-top: -1.8%;
    cursor: pointer;
   
   
}

.logo span{
    color: rgb(204, 210, 222);
}


.logo{
    color:  rgb(255, 255, 255);
    margin-left: auto; 
    display: flex;
  
}


/* ------------------- */


/* ----nav-links------ */

.nav-links{
    display: flex;
    flex-direction: row;
    color: var(--link--color);
    margin: 0;
    list-style: none;
}

.nav-item{
    cursor: pointer;
    margin-left: 22px;
    padding: 6px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}


.nav-item:hover{
    color: #fff;
    background-color: var(--list-hover) ;
    .nav-links{
        color: #fff;
    }
}

/* dots */

.dots i{
    font-size: 20px;
    color: #fff;
}

/* ----------------- */


/* ------icons------ */

.icons{
   align-items: center;
   width: 27vh;
   height: 100%;
  margin-right: auto;
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
}


/* search button */

.search-btn{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.search-btn i{
    padding: 14px;
    border-radius: 50%;
    background-color: var(--list-hover);
    transition: 0.5s ease-in-out;
}

/* hover animate */

.search-btn i:hover{
    background:  rgb(121, 122, 123);;
}


/* ---login-btn-- */

.login-btn{
    
    font-size: 16px;
    color: #fff;
    width: 75px;
    padding: 10px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* hover */

.login-btn:hover{
    border-color: var(--link--color);
    color: var(--link--color);
}


/* ---sign-up---- */

.signup-btn{

    color: var(--nav-background);
    background: #fff;
    width: 85px;
    height: 44px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 15px;

}

.signup-btn:hover{
    background: var(--link--color);
}


/* ----------------- */
/* ==========================  */




/* ==========================  */
  /* ====( home texts )==== */
/* ========================== */


/* background */

.home{
    position: relative;
    width: 100%;
    height:68vh;
    left: 0;
    background: url('./images/homebackground.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

/* ----------- */


/* contents - container */

.content{
    width: 85vh;
    height: 70%;
    margin-left: 25%;
    position: relative;
}

/* ----------- */


.texts{
    margin-top: 30%;
    position: absolute;
}


.texts h1{
    margin-top: 3%;
    font-size: 46px;
    color: #fff;
    font-weight: 600;
}

.texts h4{
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.mail-section{
    position: absolute;
    margin-top: 56%;
}

.mail-section input{
    width: 41vh;
    height: 50px;
    border-radius: 10px;
    background:  rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 15px;
    outline-color: transparent;
    color: #fff;
    padding-left: 15px;
}

.mail-section input::placeholder{
    color: #fff;
}


.mail-section .sign-btn{
    position:absolute;
    color: rgb(12, 108, 242);
    background: #fff;
    margin-left:4%;
    width: 100px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.mail-section .sign-btn:hover{
    background: var(--link--color);
}


/* ==========================  */




/* ==========================  */
/* ====( coins section )==== */
/* ========================== */


.coins{
    position: absolute;
    width: 88%;
    height: 22vh;
    padding-left: 22%;
    margin-top: -3.5%;
}


/* -coin-container- */

.coin-container{
    width: 100%;
    height: 21vh;
    display: flex;
    flex-direction: row;
   margin-left: 3%;
}


.coin{
    display: block;
    width: 24vh;
    height: 15.5vh;
    margin-left: 2.5vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    box-shadow:  rgba(103, 113, 133, 0.2) 0.75rem 1.5rem 4rem 0rem;
    padding: 2vh;
    border-radius: 10px;

    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    
}

/* coin hover */

.coin:hover{
    box-shadow: none;
}


/* image  sizing*/

.coin img{
    width: 40px;
    height: 40px;
}


/* buy-button */

.buy{
    height: 30px;
   padding: 5px;
   padding-left: 8px;
   padding-right: 8px;
   color: rgb(83, 34, 229);
   background-color:  rgb(239, 236, 254);
   border-radius: 5px;
   margin-left: 22%;
   font-weight: 500;
   font-size: 14px;
   cursor: pointer;
}

/* trade button */

.trade{
    height: 30px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(230, 250, 236);
    color: rgb(0, 153, 76);
    border-radius: 5px;
    margin-left: 5%;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* name */

.name{
    font-size: 1rem;
    width: 100%;
}

.shortname{
    margin-left: 10%;
    color:rgb(103, 113, 133);
}

/* price */

.price{
    font-size: 1rem;
}

/* ratings */

.rating-minus{
    font-size: 1rem;
    margin-left: 10%;
    color:  rgb(255, 68, 58);
}

.rating-plus{
    font-size: 1rem;
    margin-left: 10%;
    color:  rgb(0, 178, 107);
}



/* more prices */

.more-prices{
    position: absolute;
    margin-left: 4%;
    margin-top: -2%;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.more-prices i{
    font-size: 18px;
}

/* ==========================  */


/* ==========================  */
/* ====( coins section )==== */
/* ========================== */


.left-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(0, 89, 255);
    border-radius: 50%;
    left: .5%;
    top: 94%;
    font-size: 26px;
    background: rgb(53, 102, 247);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
}


.left-icon:hover{
    box-shadow:0 0 30px  #b1adad ;
}


/* ==========================  */













/*  ===================================  */
/* =========( commen section )========== */
/*  ===================================  */





section{
    position: relative;
    height: 88vh;
    width: 125vh;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-repeat: no-repeat;
    background-size: 652px;
   
}



.elements-container{
    width: 76%;
    height: 74vh;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}




.element-icon{
    padding: 1rem;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 1.25rem;
    margin-bottom: 20px;
}



.element-icon .element-txt{
    font-size: 18px;
    font-weight: 500;
}



.elements-container h1{
    font-size: 2.5rem;
    font-weight: 600;
   
}


/*  ===================================  */
/*  ===================================  */
/*  ===================================  */





/* ==========================  */
/* ====( wallet section )==== */
/* ========================== */




.wallet{

    background-color: rgba(239, 236, 254, 0.5);
    background-image: image-set(url('./images/backdrops/wallet.png'));
    background-position: right bottom;
    margin-top: 9%;
    
}


.wallet img{
    position: absolute;
    right: 20px;
    bottom: 35px;
    margin-right: 50px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}



/* ======= elements container ======= */

#wallet-h1{
    color: rgb(115, 73, 242);
}


.cont-element-wallet{
    margin-left: 20%;
}


/* ======= wlallet-icon======= */

.wallet-icon{
    width: 130px;
    background-color: rgb(239, 236, 254);

}

.wallet-icon .wallet-text{
    color:  rgb(115, 73, 242);
    margin-left: 18px;
}



/*  ===================================  */
/* =======( about texts commen ) ======= */
/*  ===================================  */

.about-container{
    margin-top: 40px;
}


.about-text{
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
    height: auto;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}

.about-text span{
    padding: 20px;
    transition: color 0.25s;
    display: flex;    
}

.about-text p{
    margin-top: -20px;
    width: 70%;
    padding: 20px;
}

/*  ===================================  */
/*  ===================================  */



/* =======( about texts for wallet) ======= */

.about-text-wallet{
    border: 1px solid rgb(222, 216, 253);
    color: rgb(115, 73, 242);
    background-color:rgb(247, 245, 255);
}


#click1{
    display: flex
}
#click2{
    display: none;
}
#click3{
    display: none;
}
#click4{
    display: none;
}

/* =====================================  */
/* =======( bottom button commen )======= */
/* ======================================  */

.bottom-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.bottom-btn span{
    padding: 18px 30px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

/* ======================================  */


/* =======( bottom button for wallet )======= */


.bottom-btn-wallet span{
    background-color: rgb(115, 73, 242);
    color: #fff;
}



/* ======================================  */
/* ======================================  */




/* ============================ */
/* ====( exchange section )==== */
/* ============================ */

.exchange{
    background-image: image-set(url('./images/backdrops/exchange.png'));
    background-position: left bottom 40px;
    background-color: rgb(236, 245, 254, 0.5);
    position: relative;

}


.exchange img{
    position: absolute;
    right: 55%;
    bottom: 12%;
   
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


.cont-element-exchange{
    margin-left: 100%;
}


.exchange-icon{
    width: 160px;
    background-color: rgb(236, 245, 254);
    color: rgb(61, 137, 245);
}


.element-icon .exchange-txt{
    margin-left: 10px;
}


#exchange-h1{
    color: rgb(12, 108, 242);
}



.about-text-exchange{
    background-color: rgb(236, 245, 254);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    color: rgb(12, 108, 242);
}


.bottom-btn-exchange span{
    background-color: rgb(12, 108, 242);
    color: #fff;
}



#Eclick1{
    display: flex;
}

#Eclick2{
    display: none;
}

#Eclick3{
    display: none;
}

#Eclick4{
    display: none;
}


     /* ==========================  */
/* ======================================  */




/* =============================== */
/* ====( institution section )==== */
/* =============================== */

.institution{
    background-color: rgb(240, 242, 247);
    background-image: image-set(url('./images/backdrops/institution.png'));
    background-position: right center;
}




.cont-element-institute{
    height: 33vh;
    width: 50vh;
    margin-left: auto;
}



.institute-icon{
    background-color: rgb(223, 227, 235);
    color: rgb(103, 113, 133);
}


.institution .institute-text{
   margin-top: 40px;
   position: absolute;
   width: 55vh;
}


.bottom-btn-institute span{
    background-color: rgb(80, 89, 107);
    color: #fff;
}


   /* ================================  */
/* ======================================  */



/* =================================== */
   /* ====( explorer section )==== */
/* =================================== */

.explorer{
    background-color: rgba(255, 242, 229, 0.5);
    color: rgb(242, 139, 36);
   background-image: image-set(url('./images/backdrops/explor.png'));
   background-position: right bottom ;
}

.explorer img{
    position: absolute;
    left: 50%;
    top: 15%;  
}

.cont-element-explorer{
    height: 70vh;
    left: 20%;
}

.explorer-icon{
    width: 145px;
    background-color: rgb(255, 242, 229);
    color: rgb(242, 139, 36);
}

.about-text-explorer{
    background-color: rgb(255, 242, 229);
    border: 1px solid rgb(222, 216, 253);
}

.bottom-btn-explorer span{
    background-color: rgb(242, 139, 36);
    color: #fff;
}


#EXclick1{
    display: flex;
}

#EXclick2{
    display: none;
}

#EXclick3{
    display: none;
}

#EXclick4{
    display: none;
}

   /* ================================  */
/* ======================================  */




/* =================================== */
      /* ====( banner )==== */
/* =================================== */

.banner{
    background-image: image-set(url('./images/banner-bg.svg'));
    background-repeat: no-repeat;
    background-position: -0.0625rem center;
    width: 100%;
    margin-bottom: 50px;
    background-color: rgb(18, 29, 51);
    color: #fff;
   display: flex;
   padding: 80px 0px;
}

.banner h1{
    margin: auto;
    margin-left: 25%;
   font-size: 2.5rem;
}
.banner span{
    margin: auto;
    color: rgb(12, 108, 242);
    background: rgb(255, 255, 255);
    padding: 1rem 1.300rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 10px;
    margin-left: -25%;
}

/* ================================  */
/* ======================================  */



/* =================================== */
      /* ====( footer )==== */
/* =================================== */

.footer{
    width: 100%;
    height: 90vh;
    background: #fff;
}


/* ================================  */
/* ======================================  */
